@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: #ffffff;
}

.nav--element{
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
}
.nav--element > div:nth-of-type(3) {
    padding-top: 15px;
}

.nav--element img{
    width: 60px;
    height: 50px;
}
.nav--element a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid #33AE5D;
    border-radius: 3rem;
    top: 55px;
    color: black;
}

.nav--element li{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    font-size: 1rem;
    color: black;
    transition: 0.3s;
    border: 1px black;
}

.nav--element li:hover{
    color: #33AE5D;
    transform: translateY(1em);
}

.afterLi{
    background: linear-gradient(20deg, #33AE5D 60%, rgba(1,4,3));
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    z-index: 1;
    display: inline;
}

ul{
    list-style-type: none;
    display: flex;
}

.firstSection{
    display: flex;
    justify-content: space-around;
    margin-top: 7rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.fewInfo{
    margin-top: 5em;
}
.fewInfo div{
    margin-top: 60px;
}

.fewInfo > :nth-child(1){
    font-size: 2.7rem;
    z-index: 200;
}

.afterName{
    background: linear-gradient(20deg, #33AE5D 60%, rgba(1,4,3));
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-top: -4rem;
    margin-left: -0.5rem;
    z-index: 1;
    box-shadow: 5.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}
.fewInfo > :nth-child(2){
    padding-top: 0.5rem;
    font-size: 1.7rem;
}
.fewInfo > :nth-child(3){
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1.4rem;
}

.fewInfo a{
    color: #ffffff;
    font-size: 1.4rem;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background: linear-gradient(20deg, #33AE5D  180%, rgba(1,4,3)) ;
    text-decoration: none;
    border-radius: 4rem;
    margin-top: 25px;
    box-shadow: 2.0px 6.0px 6.0px hsl(0deg 0% 0% / 0.25);
}
/*
.firstSection img{
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    border: 1px solid red;
*/